{% extends "site_base.html" %}

{% block template_title %}Match Out of Network Specialists{% endblock template_title %}

{% block template_cta %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Recommended Out-Of-Network Provider(s) for {{ current_user.user_alias }}</h1>
    <p class="lead">This is a list of providers who are considered out-of-network for your current insurance plan, but who are or have been hired by them as specialists in in-network facilities.</p>
    <hr class="my-4">
    {% if current_user.user_type == 'patient' %}
        <a class="btn btn-outline-dark" href="{{ url_for('patient_splashboard') }}">Return To Patient Splashboard</a>
    {% elif current_user.user_type == 'provider' %}
        <a class="btn btn-outline-dark" href="{{ url_for('provider_splashboard') }}">Return To Provider Splashboard</a>
    {% endif %}
</div>
</div>
{% endblock template_cta %}

{% block template_body %}

<ul class="list-group">
    {% for specialist in specialists %}
    <li class="list-group-item">
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight">
                <h5>User Alias: <a href="{{url_for('landing_page', user_id=specialist.id) }}">{{ specialist.user_alias }}</a></h5>
                <small>User Type: {{ specialist.user_type }}</small>
            </div>
            <div class="p-2 ml-auto flex-shrink-1 bd-highlight">
                <a href="{{ url_for('blog', user_id=specialist.id)}}" class="btn btn-outline-secondary">View Provider Blog</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}


