{% extends "site_base.html" %}

{% block template_title %}Monitor All Users Entry Feed{% endblock template_title %}

{% block template_cta %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Journal &amp; Blog Feed of All Users {{ current_user.user_alias }} is Monitoring</h1>
    <p class="lead">These are all the public journal entries by users who you are actively monitoring.</p>
    <hr class="my-4">
        {% if current_user.user_type == 'patient' %}
            <a class="btn btn-outline-dark" href="{{ url_for('patient_splashboard') }}">Return To Patient Splashboard</a>
        {% elif current_user.user_type == 'provider' %}
            <a class="btn btn-outline-dark" href="{{ url_for('provider_splashboard') }}">Return To Provider Splashboard</a>
        {% endif %}
</div>
</div>
{% endblock template_cta %}

{% block template_body %}

    {% for entry in monitored_entries %}
        <div class="card w-100 mb-4">
            <div class="card-header">
                <h5 class="card-title"><a href="{{ url_for('view_blog_entry', user_id=entry.user_id, blog_entry_id=entry.id) }}">{{ entry.title }}</a></h5>
                <p class="card-text"><small>Created Date: {{ entry.created_date.strftime('%m-%d-%Y at %H:%M:%S') }}</small>&nbsp;|&nbsp;
                    <small>Author: <a href="{{ url_for('landing_page', user_id=entry.user_id) }}">{{ entry.user_alias }}</a></small>&nbsp;|&nbsp;
                    <small>Private Entry: {{ entry.private_entry }}</small>
                </p>
            </div>
            {% if entry.entry_img != 'blog_placeholder_img.jpg' %}
            <img class="custom-card-img-top" src="{{ url_for('static', filename=('user_blog_imgs/' + entry.entry_img)) }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">

                <p class="card-text">{{ entry.body }}</p>

            </div>
            <div class="card-footer d-flex flex-row bd-highlight">
                {% if not queries.chk_user_liked_entry(user_id=current_user.id, blog_entry_id=entry.id) %}
                <a href="{{ url_for('like_blog_entry', blog_entry_id=entry.id) }}" class="btn d-inline-block btn-outline-info like-style-btn ajax-like-btn"><i class="far fa-thumbs-up"></i> Like(s): {{ queries.get_entry_like_count(blog_entry_id=entry.id) }}</a>
                {% else %}
                <a href="{{ url_for('unlike_blog_entry', blog_entry_id=entry.id) }}" class="btn d-inline-block btn-outline-danger"><i class="far fa-thumbs-down"></i> Un-Like</a>
                <a href="{{ url_for('like_blog_entry', blog_entry_id=entry.id) }}" class="btn d-inline-block btn-outline-info ajax-like-btn disabled ml-2"><i class="far fa-thumbs-up"></i> {{ queries.get_entry_like_count(blog_entry_id=entry.id) }}</a>
                {% endif %}
            </div>
        </div>

    {% endfor %}

{% endblock %}

