{% extends "site_base.html" %}

{% block template_title %}Write Public Conversation{% endblock template_title %}

{% block template_cta %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    {% if current_user.user_type == 'patient' %}
    <h1 class="display-4">Write a Public Conversation</h1>
    <h5>Room: {{found_room.room_name}} > New Conversation</h5>
    <p class="lead">Create a new public conversation.</p>
    {% elif current_user.user_type == 'provider' %}
    <h1 class="display-4">Write a Public Conversation</h1>
    <p class="lead">Create a new public conversation.</p>
    {% endif %}
    <hr class="my-4">
</div>
</div>
{% endblock template_cta %}

{% block template_body %}

{% if public_convo_form and current_user.is_authenticated %}
<form action="{{ url_for('convo_write', room_id=found_room.id) }}" method="POST">
    {{ public_convo_form.hidden_tag() }}

    <div class="form-group">
        {{ public_convo_form.convo_name.label(class="form-control-label") }}
        {% if public_convo_form.convo_name.errors %}
        {{ public_convo_form.convo_name(required=False, class="is-invalid form-control", cols=32, rows=1) }}
        <div class="invalid-feedback">
            {% for error in public_convo_form.convo_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% else %}
        {{ public_convo_form.convo_name(required=False, class="form-control", cols=32, rows=1) }}
        {% endif %}
    </div>

    <div class="form-group">
        {{ public_convo_form.convo_summary.label(class="form-control-label") }}
        {% if public_convo_form.convo_summary.errors %}
        {{ public_convo_form.convo_summary(required=False, class="is-invalid form-control", cols=32, rows=1) }}
        <div class="invalid-feedback">
            {% for error in public_convo_form.convo_summary.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% else %}
        {{ public_convo_form.convo_summary(required=False, class="form-control", cols=32, rows=1) }}
        {% endif %}
    </div>

    <div class="form-group">
        {{ public_convo_form.convo_init_body.label(class="form-control-label") }}
        {% if public_convo_form.convo_init_body.errors %}
        {{ public_convo_form.convo_init_body(required=False, class="is-invalid form-control", cols=32, rows=1) }}
        <div class="invalid-feedback">
            {% for error in public_convo_form.convo_init_body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% else %}
        {{ public_convo_form.convo_init_body(required=False, class="form-control", cols=32, rows=1) }}
        {% endif %}
    </div>

    <div class="form-group">
        {{ public_convo_form.chosen_conditions.label(class="form-control-label") }}

        {% if public_convo_form.chosen_conditions.errors %}
        {{ public_convo_form.chosen_conditions(required=False, class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in public_convo_form.chosen_conditions.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ public_convo_form.chosen_conditions(required=False, class="form-control form-control-lg") }}
        {% endif %}
    </div>

    <p>{{ public_convo_form.submit( class="btn btn-outline-dark") }}</p>
</form>
{% endif %}


{% endblock template_body %}